In [12]:
import os
os.getcwd()

'C:\\Users\\Vitor\\DataspellProjects\\dsProject\\Challenge'

In [13]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options  
chrome_options = Options()

driver = webdriver.Chrome('/Users/Vitor/Downloads/chromedriver', options=chrome_options)
driver.implicitly_wait(10)

C:\Users\Vitor\AppData\Local\Temp\ipykernel_42024\2227365819.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/Vitor/Downloads/chromedriver', options=chrome_options)

In [14]:
import numpy as np
import time
i=1
lista_nomes = []
lista_marcas = []
lista_anos = []
lista_tipo = []
lista_precos = []
lista_kilometragem = []

while i<=16: #para cada subpagina
    
    url = 'https://vamosseminovos.com.br/estoque/page/{}/?filter_marca=volkswagen'.format(str(i))
    driver.get(url)
    time.sleep(5)

    carros = driver.find_element("xpath", "/html/body/main/div/div/div/div[1]/div[2]").text.split('SAIBA MAIS')

    for j in carros:
        carro = j.split('\n')
        if len(carro)==7:
            lista_nomes.append(carro[0])
            lista_tipo.append(carro[1])
            lista_marcas.append(carro[2])
            lista_anos.append(carro[4])
            lista_precos.append(carro[5])
            lista_kilometragem.append('Não fornecido')
        elif len(carro)==9:
            lista_nomes.append(carro[1])
            lista_tipo.append(carro[2])
            lista_marcas.append(carro[3])
            lista_anos.append(carro[6])
            lista_precos.append(carro[7])
            lista_kilometragem.append(carro[5])
    i+=1

In [15]:
import pandas as pd
df = pd.DataFrame({'Carro': lista_nomes,
                   'Marca': lista_marcas,
                   'Tipo': lista_tipo,
                   'Ano': lista_anos,
                   'Preço': lista_precos,
                   'Kilometragem': lista_kilometragem
                  })


df

,Carro,Marca,Tipo,Ano,Preço,Kilometragem
0,19-360 CONSTELLAT. TRACTOR (DIESEL)(E5) 4X2,VOLKSWAGEN,ATIVO,2020/2021,"R$370.000,00",184114
1,25.360 CONSTELlATION 6X2,VOLKSWAGEN,ATIVO,2020/2021,"R$380.000,00",121964
2,MPOLO VIAGGIO R 4×2,VOLKSWAGEN,ATIVO,2013/2013,"R$260.000,00",307386
3,8.160 DELIVERY 4×2,VOLKSWAGEN,ATIVO,2016/2016,"R$170.000,00",147589
4,8.160 DELIVERY 4×2,VOLKSWAGEN,ATIVO,2015/2016,"R$175.000,00",116266
...,...,...,...,...,...,...
121,25.420 CONSTELLATION 6X2,VOLKSWAGEN,ATIVO,2018/2019,"R$265.000,00",127117
122,25.360 CONSTELlATION 6X2,VOLKSWAGEN,ATIVO,2020/2021,"R$380.000,00",150257
123,25.420 CONSTELLATION 6X2,VOLKSWAGEN,ATIVO,2019/2020,"R$300.000,00",321302
124,17.280 CONSTELLATION 4×2,VOLKSWAGEN,ATIVO,2013/2013,"R$180.000,00",257687
125,25.420 CONSTELLATION 6X2,VOLKSWAGEN,ATIVO,2019/2020,"R$299.000,00",304812

In [16]:
df.to_excel(r'C:\Users\Vitor\Challenge - Dados\Volkswagen_Vamos_19-10.xlsx', index = False)